/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.button {
	background: theme('colors.secondary.500');
	color: theme('colors.white');
}
.button:hover {
	background: theme('colors.secondary.400');
}
